{% extends 'base.html' %}

{% block title %} {{pets.species}} {% endblock %}

{% block content %} 
    <nav class = "navbar fixed-top navbar-light bg-light">
        <h1>Pets</h1>
        <div class="form-inline">
            <a href="/" class = "btn btn-warning btn-sm mr-sm-0">Back</a>
        </div>
    </nav>
    <div class="card-columns mt-5">
        {% for pet in pets  %}       
            <div class="card">
                <a href="\{{pet.id}}"> 
                    <img src="{{pet.image_link()}}" class="card-img-top" alt="{{pet.species}} id={{pet.id}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Name: {{pet.name}}</h5>
                    <p class="card-text">
                        Specie: <a href="/species/{{pet.species}}">{{pet.species}}</a>
                        <p>
                            {% include "_isAvailable.html" %}
                        </p>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}